body{
    margin: 0;
}
#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
a{
    text-decoration: none;
}
a:hover{
   text-decoration: underline; 
}
#nav a{
    margin-right: 20px;
}
#nav a.topimage{
    width: 20px;
    height: 20px;
    background-color: red;
     border-radius: 50%;
}

#middle{
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#logo{
    text-align: center;
    
}

#searchbarcontainer{
    margin-top: 20px;
    text-align: center;
    position: relative;
}

#search,#voice{
   position:absolute;
   top:0;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

#search{
    left: 10px;
}

#voice{
    right: 10px;
}

#searchbar{
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border: 1px solid #c4c4c4;
}
#searchbar:hover{
  box-shadow: 0 0 10px 2px black;
}

#buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(231, 231, 231);
    border:2px solid transparent;
}
#links{
    margin-top: 20px;
   text-align: center; 
   
}

#links a{
   margin-right: 10px;
   font-size: small;

}

html,body{
display: flex;
flex-direction: column;
height: 100%;
}

.button:hover{
    box-shadow: 0 0 1px 2px black;
    border: 2px solid #eee;
}

#footer-content{
    background: #eee;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #dadce0;
    color: #5a5b5c;
}

#footer-content a{
    color: #5a5b5c;
    padding: 10px;
}

